<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/miBudget?serverTimezone=UTC</property>
  <property name="hibernate.connection.username">michaelball</property>
  <property name="hibernate.connection.password">rootRoot</property> <!-- rootpassword -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
  <!-- JDBC connection pool settings ... using built-in test pool -->
  <property name="connection.pool_size">200</property>
  <!-- Use the C3P0 connection pool.
  <property name="connection.pool_size">100</property>
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.c3p0.idle_test_period">300</property>
  <property name="hibernate.c3p0.min_size">3</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
  <property name="hibernate.c3p0.acquireRetryDelay">250</property> -->
  
  
  <!-- Related to the mapping start 
	  	<mapping resource ="mapping xml file name" /> 
 <mapping class="" resource=""/> -->
  <mapping class="com.miBudget.v1.entities.User" resource="com/miBudget/v1/entities/User.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.Item" resource="com/miBudget/v1/entities/Item.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.Account" resource="com/miBudget/v1/entities/Account.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.UserAccountObject" resource="com/miBudget/v1/entities/UserAccountObject.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.ItemAccountObject" resource="com/miBudget/v1/entities/ItemAccountObject.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.UsersInstitutionIdsObject" resource="com/miBudget/v1/entities/UsersInstitutionIdsObject.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.UsersItemsObject" resource="com/miBudget/v1/entities/UsersItemsObject.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.Rule" resource="com/miBudget/v1/entities/Rule.hbm.xml"/>
  <mapping class="com.miBudget.v1.entities.Category" resource="com/miBudget/v1/entities/Category.hbm.xml"/>
  <!-- Related to the mapping end -->
 </session-factory>
</hibernate-configuration>
