@charset "UTF-8";

section.one {
	/* padding: 30vh 0; */
	border-radius: 10%;
}

section.two {
	border-radius: 100%;
}

h1 {
	text-align: center;
}

section button {
	margin: 0 auto;
	display: block;
}


.one_icon {
	background: rgba(0,0,0,.3);
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.two_icon {
	background: rgb(51, 204, 255);
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.list_icon {
	background: rgb(51, 204, 255);
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-radius: 10%;
	display: grid;
	place-items: center;
}

/* .carousel-indicators {
    
}

.carousel-indicators li {
	background-color: rgba(0, 0, 0, .3);
	border: 1px solid #fff;
	border-radius: 10px;
	height: 20px;
	margin: 0 auto;
	padding: 10px 10px;
	opacity: .9;
	text-indent: 0;
} 

.carousel-indicators li.active {
    background: black;
} */